<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Electiva I
    </ion-title>

    <ion-buttons slot="end">
      <a [routerLink]=" '/usuarios' ">
        <ion-label>
          Usuarios
        </ion-label>
        <ion-button [routerLink]=" '/usuarios' ">
          <ion-icon name="accessibility-outline"></ion-icon>
        </ion-button>
      </a>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input [(ngModel)]="nombreDependencia" label="Dependencia: " placeholder="Sistemas"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input Label="Ubicación: " type="text" [(ngModel)]="ubicacionDep" placeholder="Planta 2 segundo piso">
    </ion-input>
  </ion-item>
  <ion-button color="success" (click)="crearDependencia()">Crear</ion-button>

  <ion-list>
    @for(dependencia of misDependencias(); track dependencia.id){
    <ion-item>
      <ion-label (click)="dependenciaSeleccionada(dependencia)">
        {{ dependencia.nombre }} - {{ dependencia.ubicacion }}
      </ion-label>
    </ion-item>
    }
  </ion-list>



  <app-array></app-array>


</ion-content>